.caja4 {
    background: rgba(110, 175, 164, 1);
    height: 190px;
    display: flex;
    text-align: center; 
    padding-top: 135px;
    padding-left: 15px;
}


.logoCopy img {
    width: 20px;
    height: 20px;

}

.logoCopy {
   
    color: #fefefe;
   margin-left: 150px;

}

p {
    text-align: center;
    color: #fefefe;
}

/* @media (max-width: 575px){ 
       
        .contacto{
                 margin-top: 15px;
                 margin-left: 45px;
                
              }
              .contacto .logos{
               display: inline-flex;
               margin-left: 30px;
               margin-top: 15px;
              }
               
   } */