
<footer class="caja4">
    <div class="contacto">
        <h3>Contacto:</h3>
       <div class="logos">
             <div class="logo" (click)="irMail()"><img src="./assets/mail.png" alt="logo correo">Gmail</div>
             <div class="logo" (click)="irGithub()"><img src="./assets/github-brands.png" alt="logo github">Github</div>
              <div class="logo" (click)="irLinkedin()"><img src="./assets/linkedin-brands.png" alt="logo linkedin">Linkedin</div>
        </div>
     </div>
  
 </footer>