
<div class="container" *ngIf="sobreM">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="perfil">Perfil:</label>
                    <input type="text" class="form-control" id="perfil" name="perfil" 
                    [(ngModel)]="sobreM.perfil"
                        required>
                </div>
                <div class="form-group">
                    <label for="sobremi">Sobre mí:</label>
                    <input type="text" class="form-control" id="sobremi" name="sobremi"
                        [(ngModel)]="sobreM.sobremi" required>
                </div>
                <div class="button">
                    <button class="btn btn-dark">
                        Actualizar
                    </button>
                </div>

            </form>
        </div>
    </div>