<div class="container">
    <div id="portfolio"><h4> Portfolio:</h4> <h5> Es un proyecto que realicé en Argentina Programa.  En la segunda etapa como manera de aprender los diferentes lenguajes que nos iban enseñando.
           Tanto del Front end como del Back end y la base de datos. Todo en un mismo proyecto.
        <br/>Aprendimos Github, Html, Css, Javascript, Angular, Bootstrap, Apache Netbeans, Msql,
           Heroku, FireBase.                        
           </h5>
    </div>
<div id="delivery">
<h4>App Delivery:</h4>
<h5> Es un proyecto que realicé para emplear lo que había aprendido en Argentina Programa 
y online. 
https://github.com/MaquiCapri/delivery.git
</h5>
</div>

<button type="button" class="button" (click)="irInicio()" ><span>VOLVER</span></button> 


</div>