<div class="container">
    <div id="portfolio"><h4> Portfolio: (2022)</h4> <h5> Es este portfolio que fue un proyecto que realicé en Argentina Programa.  En la segunda etapa como manera de aprender los diferentes lenguajes que nos iban enseñando.
           Tanto del Front end como del Back end y la base de datos. Todo en un mismo proyecto.
        <br/>Aprendimos Github, Html, Css, Javascript, Angular, Bootstrap, Apache Netbeans, Msql,
           Heroku, Java, FireBase.                        
           </h5>
    </div>
<div id="delivery">
<h4>WikIdeas:</h4>
<div><a href="https://maquicapri.github.io/wikiIdeas.github.io/" target="_blank">https://maquicapri.github.io/wikiIdeas.github.io/</a></div>

<h5> 10-2022 al 2023: Es un proyecto grupal que lo realicé en ID for Idea. Yo me encargué del Frontend con Angular.
    Mi equipo: Christopher Aguilar: Backend; Traudy Vargas: Project Manager; Jose Manuel Oropeza: Diseñador;Ana Paula Peralta: Tester.



</h5>
</div>

<button type="button" class="button" (click)="irInicio()" ><span>VOLVER</span></button> 


</div>