
<article class="grid-container"> 
    <section class="cajas1-2">
      

      <div class="caja1">
            <h3>Acerca de mi:</h3> 
            <p>{{container.parrafo}}</p>

         <button type="button" class="boton" (click)="irCurriculum()" ><span>Curriculum</span></button>
        </div>

        
         
        <div class="caja2">
            <h3>Proyectos:</h3>
           <div class="item">portafolio</div>
        </div>  
   
    </section>
    
   
   
   <section class="caja3">
        <h3>Tecnologías que manejo:</h3>
        <app-circle-progress></app-circle-progress>
       
         
   </section>
</article>