<section class="grid-container">
    <article class="boxs">
        <div class="aboutMe">
            <h3>Acerca de mi:</h3>
            <h5> Desde que descubrí la programación sé que es donde quiero profundizar y
                quedarme para seguir creciendo.</h5>

             <button type="button" class="boton" (click)="irCurriculum()" ><span>Curriculum</span></button> 
             
        </div>
        <div class="proyects">
            <h3>Proyectos:</h3>
            <div class="card mb-3" style="max-width: 540px;" style="text-align: center;">
                <div class="row g-0">
                  <div class="col-md-4" id="fotoPort">
                    <img src="./assets/arg-programa.png"  style="width:10rem ;" class="img-fluid rounded-start" alt="logoArgPro">
                    <!-- <img src="./assets/fotoport.png"  class="img-fluid rounded-start" alt="fotoPort"> -->
                  </div>
                  <div class="col-md-8" >
                    <div class="card-body" >
                        <h5>Portfolio en Argentina Programa</h5>
                       <button type="button" class="button" (click)="irProyects()"  ><span>Leer más</span></button> 
                   </div>
                  </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;" style="text-align: center;">
                <div class="row g-0">
                  <div class="col-md-4" id="fotoPort">
                    <img src="./assets/deliveryPort.png"  class="img-fluid rounded-start" alt="fotoPort">
                  </div>
                  <div class="col-md-8" >
                    <div class="card-body" >
                        <h5>App de Delivery de comida</h5>
                       <button type="button" class="button" (click)="irProyects()" ><span>Leer más</span></button> 
                   </div>
                  </div>
                </div>
            </div> 
      </div>
      <div class="certificate">
               <h3>Certificados:</h3>
            <div class="carousel">

                <div id="carouselExampleControlsNoTouching"  class="carousel slide" data-bs-touch="false"
                    data-bs-interval="false">
                    <div class="carousel-inner" >
                        <div class="carousel-item active">
                            <img src="./assets/certiYo.png" class="d-block w-100" alt="certificado">
                        </div>
                       
                        <div class="carousel-item">
                            <img src="./assets/certifica.png" class="d-block w-100" height="178" alt="certificado">
                        </div>

                        <div class="carousel-item">
                            <img src="./assets/certificadoScrum.png" class="d-block w-100" height="178" alt="certificado">
                        </div>

                    </div>
                    <div class="button1"  >
                     <button class="carousel-control-prev" type="button"   
                         data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev" > 
                         <svg  xmlns="http://www.w3.org/2000/svg" id="icon" width="28" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                          </svg>
                           
                     </button> 
                   
                </div>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                        <svg xmlns="http://www.w3.org/2000/svg" id="icon" width="28" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                          </svg>
                    </button>
                </div>
            </div>
        </div> 
    </article>
    
    <aside class="circle">
        <h3>Tecnologías que manejo:</h3>

         <app-circle-progress></app-circle-progress><br> 
 <h5>Conocimientos  Full stack:</h5>
<ul><li>Java</li>
<li>MySql</li>
<li>PHP</li>
<li>Apache NetBeans</li>
<li>Firebase</li>
</ul>
    </aside>
</section>