
<article class="grid-container"> 
    <section class="cajas1-2">
      

      <div class="caja1">
            <h3>Acerca de mi:</h3> 
            <p>{{container.parrafo}}</p>

         <button type="button" class="boton" (click)="irCurriculum()" ><span>Curriculum</span></button>
        </div>

        
         
        <div class="caja2">
            <h3>Proyectos:</h3>
           <div class="item">portafolio</div>
        </div>  
   
    </section>
    
   
   
   <section class="caja3">
        <h3>Tecnologías que manejo:</h3>

       <div class="container">
         
           <div class="grid-item"><img src="./assets/html5.png" alt="logo html">Html</div>
           <div class="grid-item"><img src="./assets/css3.png" alt="logo css">Css</div>
           <div class="grid-item"><img src="./assets/js-brands.png" alt="logo js">JavaScript</div>
          <div class="grid-item"><img src="./assets/bootstrap-brands.png" alt="logo bootstrap">Bootstrap</div>
          <div class="grid-item"><img src="./assets/github-brands.png" alt="logo github">GitHub</div> 
          <div class="grid-item"><img src="./assets/angular-brands.png" alt="logo angular">Angular</div>
          <div class="grid-item"><img src="./assets/figma-brands.png" alt="figma">Figma</div>
        </div>
       <!-- <div class="range"> 
              <div>Nivel</div> 
           <input type="range" min="0" max="10" >
       </div> -->
   </section>
</article>