
<!-- va hacer para editar skills -->
<!-- <div class="container" *ngIf="skillPor"> -->
    <!-- <div class="row"> -->
        <!-- <div> 
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="number" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skillPor.porcentaje"
                        required>
                </div>
                <div class="form-group">
                    <label for="texto">Texto</label>
                    <input type="text" class="form-control" id="texto" name="texto"
                        [(ngModel)]="skillPor.texto" required>
                </div>
                <div class="button">
                    <button class="btn btn-dark">
                        Actualizar
                    </button>
                </div>

            </form>
        </div>
     </div> -->