<!-- tiene el nombre de experiencia porque iba hacer experiencia pero no tengo 
asique decidí poner educación, también decidí darle prioridad a otras cosa 
pero lo voy a modificar -->
<div class=" row">
    <h1>Educación</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-outline-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva educación
        </button>
    </div>

    <table class="table">
        <tbody>
            <tr *ngFor="let Experiencia of expe">
                <td>{{Experiencia.fecha}}</td>
                <td>{{Experiencia.curso}}</td>

                <div class="botones">
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-dark" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i></button>
                    </td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash3-fill"></i></button>
                    </td>
                </div>
            </tr>
        </tbody>


    </table>
</div>