<div class="container" >
<div class="row">
    <div class=" col-5" style="text-align: center;">
        <div style="text-align:center;">
           <img src="./assets/miaPaint.png" alt="foto" width="145rem" >
       </div>
        <br/>
        <br/>
          <div class="sobreMi">
                <h3> Sobre mí:</h3>
                <p>Estoy muy dedicada a estudiar programación para poder tener mi primer empleo 
                    en el mundo IT. Estoy profundizando
                    en Front end con Angular. Estudio de forma autodidacta y formo parte de grupo en ID for Ideas 
                    realizando un proyecto en conjunto. <br/>
                     Mi meta es formar parte de una empresa que me otorgue estabilidad laboral,
                    donde pueda aplicar mis conocimientos para el
                     crecimiento laboral, personal e intelectual.<br/>
                  Vivo en Capilla del Monte,Córdoba con mi pareja
                  y mis tres hijos. Tengo 43 años.
                  Siempre me gustó crear cosas y aprender técnicas en diferentes disciplinas. Por eso me apasionó la programación porque 
                  encuentro en ella la creación y la ténica unidas de una forma muy contundente. 
                  Creo que gran parte del crecimiento radica en
                  el trabajo en equipo y el crecimiento personal.
              
                  
                </p>
          </div>
    </div>

    <div class="col-7">
        <br/>
        <br/>
        <h1 >Magdalena<br/>Caprioglio </h1>
         <br>
        <h4>Desarrolladora Web Front end</h4>
        <div id="mail"><img src="./assets/mail.png" alt="logoMail" width="18rem">maquicapri@gmail.com</div>
             <br/>
                  <br/>

            <div class="educacion">
    
                 <app-experiencia></app-experiencia>  
                 <ul>
                  <li>2022: IDforIdeas: Proyecto grupal de una wikipedia en grupo<br>
                       como front end</li>
                  <li>2021-2022: Argentina Programa. FullStack Developer </li>
                  <li>2021-2022: Autodidacta. Profundicé en Angular</li>
                  <li>Anteriormente: Me dediqué a dar clases de Pilates en Bs As <br>
                  y Córdoba. Integrando diferentes disciplinas para la corrección postural</li>
                  
   
                 </ul>
            </div> 
           <br/> 
          <h4>Conocimientos:</h4>
          <ul>
            <li>Html</li><li>Css</li><li>JavaScript</li>
            <li>Bootstrap</li><li>Typescript </li><li>Angular</li><li>Github></li><li>Figma</li>
            <li>MySQL</li><li>Java</li><li>Scrum</li>
         </ul>
              
                  <p><u>Idioma:</u> Inglés nivel básico A2</p>
             <br/>
            <h4>Habilidades:</h4>
            <ul>
               <li>Trabajo en equipo<br></li>
               <li>Responsabilidad<br></li>
               <li>Creatividad<br></li>
               <li>Compromiso</li>
            </ul>
            <br/>
    </div>
       <div><button type="button" class="button" class="btn btn-dark" (click)="volver()"><span>Volver</span></button></div> 
   <br/>
   <br/>
   <br/>

</div>
