


<body>
   <article class="grid-container-c">
      <section class="grid1-c"> 
           <div class="caja0-c">
              <div class="foto"><img src="./assets/miaPaint.png" alt="foto"></div> 
          </div>
          <div class="caja1-c">
               <h3>Perfil</h3>
               <p>Formar parte de una empresa que me otorgue estabilidad laboral, 
              donde pueda aplicar mis conocimientos para el crecimiento laboral, personal e intelectual.</p>
           </div>
           <div class="caja2-c">
              <h3> Sobre mí:</h3>
              <p>Vivo en Capilla del Monte,Córdoba con mi pareja
               y mis tres hijos. Tengo 43 años. Estoy muy dedicada a estudiar programación.
               Actualmente mis hobbies son las caminatas y el paddle. Siempre 
               me gustaron las artes y manualidades (diferentes danzas, tejer ,
               dibujo...).
               Me gusta trabajar en equipo y la creatividad es para mí
               una gran herramienta.
               </p><br>
               <P>Contacto:</P>
               <p > Email: maquicapri@gmail.com</p>
           </div>
       </section>
     
       <section class="grid2-c">
           <div class="caja3-c"> 
               <h1>Caprioglio Magdalena</h1>
               <br>
               <h3><b> Estudiante de Full-Stack Developer Jr.</b></h3>
            </div>
           
           <div class="cajas4-5-c">
               <div class="caja4-c">
                 <h3>Habilidades</h3>
                 <br>
                   Trabajo en equipo<br>
                   Responsabilidad<br>
                   Creatividad<br>
                   Compromiso
               </div>
        
               <div class="caja5-c">
                    <h3>Conocimientos</h3>
                    <br>
                   <p>Html, Css, JavaScript, Bootstrap,<br>
                      Typescript, Angular, Figma, mecanografía, Java,  <br>
                      MySQL
                    </p>

                      <br> 
                    <p>Idioma: Inglés  nivel básico</p> 
               </div>
            </div> 
            

            <div class="caja6-c">
                <h3>Educación</h3>
           
                2021-2022= Actualmente finalizando Argentina Programa<br>
                2022: Curso Angular con Pildoras Informáticas<br>
                     - mecanografía<br>
                2021: Curso de Html, Css y JavaScript Nivel Junior- Soy Dalto.<br>
                     Mis experiencias fuera de la programación:<br>
                hasta 2019= Dicté clases de Pilates con máquina y 
                      colchoneta en diferentes lugares de Capilla del Monte.<br>
                2007-2010= fundadora de Pilates Sana. Local de Pilates en Capilla del Monte.<br>
             
                2007-2017= fundadora y madre activa del Jardín  Brotes del Sol.<br>
             
                1997-2001= I.U.N.A Profesorado Nacional Superior de Expresión Corporal.<br>
                1999-2001= Espectaculos de danza en diferentes teatros de Buenos Aires.<br>
            </div>
      </section>
      
   </article>
    <div class="botonVolver">
        <button type="button" class="boton" (click)="volverCurriculum()" ><span>Volver</span></button>
     </div>

</body>