*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    background: rgb(254, 249, 231);
    text-align: center; 
    width: 100%;
    
   border: 1px solid black;    

}

.grid-container-c{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid1-c{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
   border-radius: 20px;
   margin: 25px;
  /* color: azure; */
   background: rgb(249,231,159);
color: rgb(23, 32, 42);
box-shadow: 0px 15px 25px rgb(0, 0, 0,0.50);
}
.foto img{ 
    width: 170px;
    height: 160px;
    margin-top: 30px;
    margin-left: 5px;
    border-radius: 400px ;

} 

.caja1-c{
   padding: 20px;
   }

.grid2-c{
    
    display: grid;
    grid-template-rows: 130px 1fr 1fr ;
    gap: 20px;
}
.caja3-c
 h1{
   font-size: 40px;
    padding-top: 50px;
 
}


.cajas4-5-c{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.caja4-c{
   width: 190px;
   height: 190px;
   padding: 20px;
   border-radius: 20px;
   margin-top: 120px;
   margin-left: 20px;
   /* color: azure; */
   background: rgb(247, 220, 111);
color: rgb(23, 32, 42);
box-shadow: 0px 15px 25px rgb(0, 0, 0,0.50);
   

}
.caja5-c{
  
    width: 220px;
    height: 320px;
    padding: 25px;
    margin-top: 70px;
    border-radius: 20px;
color: rgb(23, 32, 42);
   
    /* color: azure; */
    background: rgb(247, 220, 111);
    box-shadow: 0px 15px 25px rgb(0, 0, 0,0.50);
   
    

}

.caja6-c{
    
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    /* color: azure; */
    margin-bottom: 20px;
   background: rgb(247, 220, 111);
   color: rgb(23, 32, 42);
   box-shadow: 0px 15px 25px rgb(0, 0, 0,0.50);

}

.boton{
    border-radius: 5px;
    cursor: pointer;
  background:rgb(183, 149, 11);
   /* color: azure; */
  width: 70px;
 margin-bottom: 10px;
 border:3px solid rgb(125,102,8);
 color: rgb(23, 32, 42);
 box-shadow: 0px 15px 25px rgb(0, 0, 0,0.50);
 }

 .botonVolver{
     margin-left: 680px;
  

 }

 @media (max-width: 583px){
     .grid-container-c{
  display: block;
     }    
 }


