* {
    padding: 0;
    margin: 0;
}

.body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 100%;
    border: 1px solid black;
    background: rgb(232, 248, 245);
}

.grid-container-c {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px;
    margin: 25px;
    color: azure;
    background: #117A65;
    box-shadow: 0px 15px 25px rgb(0, 0, 0, 0.50);
}

.foto img {
    width: 170px;
    height: 160px;
    margin-top: 30px;
    margin-left: 5px;
    border-radius: 400px;

}

.perfil {
    padding: 20px;
    margin-top: -100px;
}

.sobreMi {
    margin-top: -120px;
}

.grid2-c {

    display: grid;
    grid-template-rows: 130px 1fr 1fr;
    gap: 20px;
}

.presentacion h1 {
    font-size: 40px;
    padding-top: 50px;
}

.presentacion {
    color: rgb(11, 83, 69);
}

.cajas4-5-c {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.caja4-c {
    width: 190px;
    height: 190px;
    padding: 20px;
    border-radius: 20px;
    margin-top: 120px;
    margin-left: 20px;
    color: azure;
    background: rgb(69, 179, 157);
    box-shadow: 0px 15px 25px rgb(0, 0, 0, 0.50);
}

.conocimiento {
    width: 220px;
    height: 320px;
    padding: 25px;
    margin-top: 50px;
    border-radius: 20px;
    color: azure;
    background: rgb(69, 179, 157);
    box-shadow: 0px 15px 25px rgb(0, 0, 0, 0.50);
}

.educacion {
      padding: 20px;  
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    color: azure;
    background: rgb(69, 179, 157);
    margin-top: -80px;
    box-shadow: 0px 15px 25px rgb(0, 0, 0, 0.50);
   
}

.botonVolver {
    margin-left: 680px;
    padding-bottom: 15px;
    padding-top: 10px;
}

@media (max-width: 750px) {
    grid-container-c {
        display: block;
    }

    .body {
        width: 750px;
    }


    .educacion {
        margin-top: -120px;
    }

    .botonVolver {
        margin-left: 10px;
    }

}

@media (max-width: 583px) {

    .grid-container-c {
        display: block;
    }


    .grid {
        margin-top: 200px;
    }

    .educacion {
        margin-top: -120px;
    }

    .botonVolver {
        margin-left: 10px;
    }

    .perfil {
        margin-top: 15px;
    }

    .sobreMi {
        margin-top: 0px;
    }

}