<body class="body">
  <article class="grid-container-c">
    <section class="grid">
      <div class="caja0-c">
        <div class="foto"><img src="./assets/miaPaint.png" alt="foto"></div>
      </div>
      <div class="perfil">
        <h3>Perfil</h3>
        <p>Formar parte de una empresa que me otorgue estabilidad laboral,
          donde pueda aplicar mis conocimientos para el crecimiento laboral, personal e intelectual.</p>
      </div>
      <div class="sobreMi">
        <h3> Sobre mí:</h3>
        <p>Vivo en Capilla del Monte,Córdoba con mi pareja
          y mis tres hijos. Tengo 43 años. Estoy muy dedicada a estudiar programación.
          Actualmente mis hobbies son las caminatas y el padel. Siempre
          me gustaron las artes y manualidades (diferentes danzas, tejer ,
          dibujo...).
          Me gusta trabajar en equipo y la creatividad es para mí
          una gran herramienta.
        </p><br>
        <P>Contacto:</P>
        <p> Email: maquicapri@gmail.com</p>
      </div>
    </section>

    <section class="grid2-c">
      <div class="presentacion">
        <h1>Caprioglio Magdalena</h1>
        <br>
        <h3><b>Full-Stack Developer Jr.</b></h3>
      </div>

      <div class="cajas4-5-c">
        <div class="caja4-c">
          <h3>Habilidades</h3>
          <br>
          Trabajo en equipo<br>
          Responsabilidad<br>
          Creatividad<br>
          Compromiso
        </div>

        <div class="conocimiento">
          <h3>Conocimientos</h3>
          <br>
          <p>Html, Css, JavaScript, Bootstrap,<br>
            Typescript, Angular, Figma,  Java, <br>
            MySQL
          </p>

          <br>
          <p>Idioma: Inglés nivel básico</p>
        </div>
      </div>
      <div class="educacion">

        <app-experiencia></app-experiencia>

      </div>
    </section>
  </article>

  <div class="botonVolver">
    <button type="button" class="boton" class="btn btn-dark" (click)="volverVista()"><span>Volver</span></button>
  </div>

</body>