.body {
   width: 100%;
   height: 100%;
   background: rgba(110, 175, 164, 1);
}

@media (max-width: 800px) {
   .body {
      width: 900px;
   }
}

@media (max-width: 583px) {
   .body {
      margin-left: -16px;
      width: 100%;
   }
}