<div class="row">
   
    <circle-progress 
       [percent]="45"
       [radius]="38"
       [imageSrc]="'../assets/html5.png'"
        [showImage]="true"
        [imageHeight]="33"
        [imageWidth]="33"
       [outerStrokeWidth]="5"
       [innerStrokeWidth]="6"
       [outerStrokeColor]="'#117A65'"
       [innerStrokeColor]="'#A2D9CE'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>

    <circle-progress 
       [percent]="45"
       [radius]="38"
       [imageSrc]="'../assets/css3.png'"
        [showImage]="true"
        [imageHeight]="33"
        [imageWidth]="33"
       [outerStrokeWidth]="5"
       [innerStrokeWidth]="6"
       [outerStrokeColor]="'#117A65'"
       [innerStrokeColor]="'#A2D9CE'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>
    <circle-progress 
       [percent]="45"
       [radius]="38"
       [imageSrc]="'../assets/github-brands.png'"
        [showImage]="true"
        [imageHeight]="33"
        [imageWidth]="33"
       [outerStrokeWidth]="5"
       [innerStrokeWidth]="6"
       [outerStrokeColor]="'#117A65'"
       [innerStrokeColor]="'#A2D9CE'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>

    <circle-progress 
       [percent]="45"
       [radius]="38"
       [imageSrc]="'../assets/angular-brands.png'"
        [showImage]="true"
        [imageHeight]="33"
        [imageWidth]="33"
       [outerStrokeWidth]="5"
       [innerStrokeWidth]="6"
       [outerStrokeColor]="'#117A65'"
       [innerStrokeColor]="'#A2D9CE'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>
    <circle-progress 
       [percent]="45"
       [radius]="38"
       [imageSrc]="'../assets/bootstrap-brands.png'"
        [showImage]="true"
        [imageHeight]="33"
        [imageWidth]="33"
       [outerStrokeWidth]="5"
       [innerStrokeWidth]="6"
       [outerStrokeColor]="'#117A65'"
       [innerStrokeColor]="'#A2D9CE'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>
    <circle-progress 
       [percent]="45"
       [radius]="38"
       [imageSrc]="'../assets/figma-brands.png'"
        [showImage]="true"
        [imageHeight]="33"
        [imageWidth]="33"
       [outerStrokeWidth]="5"
       [innerStrokeWidth]="6"
       [outerStrokeColor]="'#117A65'"
       [innerStrokeColor]="'#A2D9CE'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>
    <circle-progress 
       [percent]="45"
       [radius]="38"
       [imageSrc]="'../assets/js-brands.png'"
        [showImage]="true"
        [imageHeight]="33"
        [imageWidth]="33"
       [outerStrokeWidth]="5"
       [innerStrokeWidth]="6"
       [outerStrokeColor]="'#117A65'"
       [innerStrokeColor]="'#A2D9CE'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress><circle-progress 
    [percent]="45"
    [radius]="38"
    [imageSrc]="'../assets/html5.png'"
     [showImage]="true"
     [imageHeight]="33"
     [imageWidth]="33"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'#117A65'"
    [innerStrokeColor]="'#A2D9CE'"
    [animation]="true"
    [animationDuration]="300"
 ></circle-progress><circle-progress 
 [percent]="45"
 [radius]="38"
 [imageSrc]="'../assets/html5.png'"
  [showImage]="true"
  [imageHeight]="33"
  [imageWidth]="33"
 [outerStrokeWidth]="5"
 [innerStrokeWidth]="6"
 [outerStrokeColor]="'#117A65'"
 [innerStrokeColor]="'#A2D9CE'"
 [animation]="true"
 [animationDuration]="300"
></circle-progress>
    
</div>