<div class="row">

   <!-- <ul style="margin-left: 30px;"> 
      <li>Html5</li>
      <li>Css3</li>
      <li>Angular</li>
      <li>Bootstrap</li>
      <li>Github</li>
      <li>Experiencia en trabajo en equipo<br>
      con Scrum, Trello, Jira</li>
      <li>Conocimientos FullStack: MySql, Java, Apache</li>
<li>Ingles: básico- intermedio</li>
    </ul> -->
   
       <div class="html "> 
         <circle-progress 
           [percent]="75"
            [radius]="38"
            [imageSrc]="'./assets/html5.png'"
           [showImage]="true"
          [imageHeight]="33"
           [imageWidth]="33"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#117A65'"
            [innerStrokeColor]="'#A2D9CE'"
            [animation]="true"
            [animationDuration]="300"
       ></circle-progress>
         
       <div class="content">
            <h2>HTML5</h2><br>
            <br/>
       </div>   
     </div>

       <div class="css3">
            <circle-progress 
               [percent]="65"
               [radius]="38"
               [imageSrc]="'./assets/css3.png'"
               [showImage]="true"
               [imageHeight]="33"
              [imageWidth]="33"
               [outerStrokeWidth]="5"
               [innerStrokeWidth]="6"
               [outerStrokeColor]="'#117A65'"
               [innerStrokeColor]="'#A2D9CE'"
               [animation]="true"
               [animationDuration]="300"
           ></circle-progress>
            <div class="content">
               <h2>Css3</h2><br>
               <br/>
           </div>   
       </div>
   
    <div class="github">
         <circle-progress 
       [percent]="55"
       [radius]="38"
       [imageSrc]="'./assets/github-brands.png'"
        [showImage]="true"
        [imageHeight]="33"
        [imageWidth]="33"
       [outerStrokeWidth]="5"
       [innerStrokeWidth]="6"
       [outerStrokeColor]="'#117A65'"
       [innerStrokeColor]="'#A2D9CE'"
       [animation]="true"
       [animationDuration]="300"
       ></circle-progress>
        <div class="content">
           <h2>Github</h2><br>
           <br/>
       </div>  
    </div>

  <div class="angular">
    <circle-progress 
       [percent]="45"
       [radius]="38"
       [imageSrc]="'./assets/angular-brands.png'"
        [showImage]="true"
        [imageHeight]="33"
        [imageWidth]="33"
       [outerStrokeWidth]="5"
       [innerStrokeWidth]="6"
       [outerStrokeColor]="'#117A65'"
       [innerStrokeColor]="'#A2D9CE'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>

        <div class="content">
           <h2>Angular</h2><br>
           <br/>
         </div> 
  </div>

  <div class="bootstrap">
    <circle-progress 
       [percent]="50"
       [radius]="38"
       [imageSrc]="'./assets/bootstrap-brands.png'"
        [showImage]="true"
        [imageHeight]="33"
        [imageWidth]="33"
       [outerStrokeWidth]="5"
       [innerStrokeWidth]="6"
       [outerStrokeColor]="'#117A65'"
       [innerStrokeColor]="'#A2D9CE'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>

       <div class="content">
          <h2>Bootstrap</h2><br>
          <br/>
      </div> 
        
  </div>

  <!-- <div class="figma"> 
    <circle-progress 
       [percent]="50"
       [radius]="38"
       [imageSrc]="'./assets/figma-brands.png'"
        [showImage]="true"
        [imageHeight]="33"
        [imageWidth]="33"
       [outerStrokeWidth]="5"
       [innerStrokeWidth]="6"
       [outerStrokeColor]="'#117A65'"
       [innerStrokeColor]="'#A2D9CE'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>

      <div class="content">
          <h2>Figma</h2><br>
        <br/>
      </div>  
   </div> -->

<div class="js">
    <circle-progress 
       [percent]="45"
       [radius]="38"
       [imageSrc]="'./assets/js-brands.png'"
        [showImage]="true"
        [imageHeight]="33"
        [imageWidth]="33"
       [outerStrokeWidth]="5"
       [innerStrokeWidth]="6"
       [outerStrokeColor]="'#117A65'"
       [innerStrokeColor]="'#A2D9CE'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>

      <div class="content">
         <h2>JavaScript</h2><br>
         <br/>
      </div>  
  </div>

  <!-- <div class="java"> 
    <circle-progress 
    [percent]="15"
    [radius]="38"
    [imageSrc]="'./assets/logojava.png'"
     [showImage]="true"
     [imageHeight]="33"
     [imageWidth]="33"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'#117A65'"
    [innerStrokeColor]="'#A2D9CE'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
       <div class="content">
          <h2>Java</h2><br>
         <br/>
       </div>  
  </div>
  
  <div class="mysql">
     <circle-progress 
      [percent]="25"
      [radius]="38"
      [imageSrc]="'./assets/mysql.png'"
      [showImage]="true"
      [imageHeight]="33"
      [imageWidth]="33"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#117A65'"
      [innerStrokeColor]="'#A2D9CE'"
      [animation]="true"
      [animationDuration]="300"
     ></circle-progress>
     
     <div class="content">
        <h2>MySql</h2><br>
        <br/>
    </div> 
      
    </div> 
   
 </div> -->